name: SonarCloud

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarcloud:
    name: SonarCloud Scan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18' # or the version you use

      - name: Install dependencies
        run: npm ci # or yarn install, if you use yarn

      - name: Run SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        with:
          projectKey: liotier_AkaiMPC
          organization: liotier      # Your SonarCloud org (as on https://sonarcloud.io/organizations/liotier/projects)
          token: ${{ secrets.SONAR_TOKEN }}
